.header {
  .logo{
    height: 108px;
    width: 480px;
    margin: 20px auto;
    font-size: 3em;
    
    .orange{
      color: $orange;
    }
    
    .blue{
      color: $blue;
    }
    a, a:hover{
      text-decoration: none;
    }
  }
  
  .top-bar{
    height: 20px;
    background: $blue;
  }
}
